body
{
  color: white;
  background: #c0d3ff;
}

.heading
{
  font-size: 15px;
  border-radius: 10px;
  letter-spacing: 10px;
}

span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#gesture_emotion_name ,#gesture_emotion_name2  
{
  color: black;
}
.gesture_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
